In [1]:
import pandas as pd
import numpy as np
from numpy import nan
import re


import os
from dotenv import load_dotenv

import requests

from bs4 import BeautifulSoup

#import src.cleaning_functions as cf

In [2]:
df_population = pd.read_csv('../Data/WorldPopulation.csv')

In [3]:
df_population.head()

   Year  Population  ChangePerc  NetChange  Density       Urban  UrbanPerc
0  2020  7794798739        1.05   81330639       52  4378993944         56
1  2019  7713468100        1.08   82377060       52  4299438618         56
2  2018  7631091040        1.10   83232115       51  4219817318         55
3  2017  7547858925        1.12   83836876       51  4140188594         55
4  2016  7464022049        1.14   84224910       50  4060652683         54

In [4]:
df_population.drop(["ChangePerc", "NetChange", "Density", "Urban",
       "UrbanPerc"], axis=1, inplace=True)

In [5]:
df_population

    Year  Population
0   2020  7794798739
1   2019  7713468100
2   2018  7631091040
3   2017  7547858925
4   2016  7464022049
..   ...         ...
65  1955  2773019936
66  1954  2724846741
67  1953  2677608960
68  1952  2630861562
69  1951  2584034261

[70 rows x 2 columns]

In [6]:
df_population = df_population.set_index("Year")
df_population.head()

      Population
Year
2020  7794798739
2019  7713468100
2018  7631091040
2017  7547858925
2016  7464022049

In [16]:
def getAverageOceanTemperatureByDecade():
    URL = "https://www.currentresults.com/Environment-Facts/changes-in-earth-temperature.php"
    page = requests.get(URL)
    results = BeautifulSoup(page.content, "html.parser")
    table = results.find('table', class_='articletable tablecol-1-left revcolr')

    a = {}

    for row in table.tbody.find_all('tr'):
        columns = row.find_all('td')
        a[int(columns[0].text.strip()[:-1])] = columns[1].text.strip()

    return a

In [19]:
ocean_temperature= getAverageOceanTemperatureByDecade()
print(ocean_temperature)

{1880: '13.73', 1890: '13.75', 1900: '13.74', 1910: '13.72', 1920: '13.83', 1930: '13.96', 1940: '14.04', 1950: '13.98', 1960: '13.99', 1970: '14.00', 1980: '14.18', 1990: '14.31', 2000: '14.51'}

In [23]:
def buildDictionaryOfPopulationFrom(decadeStart, decadeEnd, df):
    decadeStart= d[i]
    decadeEnd=d[i]
    d = {}
    for i in range(decadeStart, decadeEnd, 10):
        d[i] = average_on_decade(df, i)
    return d

In [24]:
buildDictionaryOfPopulationFrom(decadeStart, decadeEnd, df)

NameError: name 'decadeStart' is not defined

In [21]:
def getAverageOceanTemperatureByDecade():
    URL = "https://www.currentresults.com/Environment-Facts/changes-in-earth-temperature.php"
    page = requests.get(URL)
    results = BeautifulSoup(page.content, "html.parser")
    table = results.find('table', class_='articletable tablecol-1-left revcolr')

    a = {}

    for row in table.tbody.find_all('tr'):
        columns = row.find_all('td')
        a[int(columns[0].text.strip()[:-1])] = columns[1].text.strip()

    return a


def buildDictionaryOfPopulationFrom(decadeStart, decadeEnd, df):
    d = {}
    for i in range(decadeStart, decadeEnd, 10):
        d[i] = average_on_decade(df, i)
    return d


def average_on_decade(df, decade):
    total_items = 10
    count_total = 0
    for i in range(decade, decade + 9):
        try:
            count_total += df.loc[i].Population
        except KeyError:
            total_items -= 1

    return count_total / total_items


def buildCompleteDataframe(temperatura: dict, poblacion: dict, since, till):
    dictionary = {}
    index_counter = 0

    for i in range(since, till, 10):
        
        list_of_temp_population = []
        
        list_of_temp_population.append(i)
        
        if temperatura.get(i) is not None:
            list_of_temp_population.append(temperatura.get(i))
        else:
            list_of_temp_population.append("0")
            
            
        if poblacion.get(i) is not None:
            list_of_temp_population.append(poblacion.get(i))
        else:
            list_of_temp_population.append("0")
            
        dictionary[index_counter] = list_of_temp_population
        
        index_counter+=1 

        
    return pd.DataFrame.from_dict(dictionary, orient='index')

In [22]:
final_df = buildCompleteDataframe(getAverageOceanTemperatureByDecade(), buildDictionaryOfPopulationFrom(1930, 2020, df_population), 1930, 2010)

In [12]:
display(final_df)

      0      1             2
0  1930  13.96  0.000000e+00
1  1940  14.04  0.000000e+00
2  1950  13.98  2.445756e+09
3  1960  13.99  2.954007e+09
4  1970  14.00  3.602761e+09
5  1980  14.18  4.312541e+09
6  1990  14.31  5.094413e+09
7  2000  14.51  5.817070e+09